<div class="container">
    <div class="navigation-bar">
        <div id="navigation-container">
             
            <ul>
                <li><label id="logo">MY LOGO</label></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#" id="service">Our Service</a></li>
                <li><a href="#">Our Clients</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><label id="number">+972 848933</label></li>
            </ul>
            
        </div>
    </div>

   <div class="main" >
      <div id="horizontal">
          <div id="left">
              <h1>Our Beautiful offer</h1>
              <h2>Join Our Company</h2>
              <button type="button" class="join">JOIN NOW</button>
          </div>
          <div id="right">
            <app-authentication></app-authentication>
          </div>
      </div>
    </div>
</div>